.generateBtn-shown {
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.5rem;
    width: 10rem;
    height: 3rem;
    border: none;
  }
  
  .resetBtn-shown {
    background-color: #21b884;
    color: white;
  }